<ion-view title="Ask a Question">
	<ion-content>
		<div class="list">
			<label class="item item-input item-select">
				<div class="input-label">
  					Category :
				</div>
				<select ng-model="question.category_id">
					<option value=""> Choose a category </option>
					<option ng-repeat="category in categories" value="{{category.id}}">{{category.title}}</option>
			    </select>
			</label><br/>
			<div class="list card">
				<div class="item item-image">
					<img ng-src="{{question.avatar == null ? 'img/default-image.png' : ('data:image/jpeg;base64,'+question.avatar)}}" height="100">
				</div>
			</div>
			<label class="item item-input">
				<textarea ng-model="question.post" placeholder="Tap to ask a question ..." rows="10"></textarea>
			</label>
		</div>

		<div class="button-bar">
				<a class="button" ng-click="takePicture('camera')"><i class="icon ion-camera"></i></a>
				<a class="button" ng-click="takePicture('gallery')"><i class="icon ion-image"></i></a>
				<a class="button" ng-click="takePicture('camera')"><i class="icon ion-mic-a"></i></a>
				<a class="button" ng-click="takePicture('camera')"><i class="icon ion-document-text"></i></a>
		</div>
		<div class="button-bar">
			<a audien-details ng-click="openModal()" class="button"><i class="icon ion-person-add"></i></a>
		</div>
		
	</ion-content>
	<ion-footer-bar align-title="left" class="bar-stable">
		<div class="buttons  item-button-left" ng-click="cancelQuestion()">
			<button class="button button-assertive">Cancel</button>
		</div>
		<div class="buttons item-button-right" ng-click="createQuestion()">
			<button class="button button-balanced">Ask</button>
		</div>
	</ion-footer-bar>
</ion-view>