<ion-modal-view>
	<ion-header-bar>
		<a class="button button-clear button-dark" ng-click="resetAudiens()"><i class="icon ion-chevron-left"></i> Back</a>
		<h1 class="title">Audiens</h1>
		<a class="button button-clear button-dark" ng-click="closeAudienModal()">Done</a>
	</ion-header-bar>
	<ion-tabs class="tabs-dark tabs-icon-only">

		<ion-tab title="My Reech" icon-on="ion-ios7-people" icon-off="ion-ios7-people-outline">
			<ion-content>
			<div class="list">
				<div class="item item-divider">
				Groups
				</div>
				<ion-checkbox ng-click="updateGroupSelection($event, group.id)" ng-checked="question.audien_details.groups.indexOf(group.id) != -1" ng-repeat="group in groups">{{group.name}}</ion-checkbox>
			</div>

			<div class="list">
				<div class="item item-divider">
				Experts
				</div>
				<ion-checkbox ng-click="updateReecherSelection($event, friend.reecher_id)" ng-checked="question.audien_details.reecher_ids.indexOf(friend.reecher_id) != -1" ng-repeat="friend in friends_list">{{friend.first_name}} {{friend.last_name}}</ion-checkbox>
			</div>
		</ion-content>

		</ion-tab>

		<ion-tab title="My Contacts" icon-on="ion-ios7-personadd" icon-off="ion-ios7-personadd-outline">
			<ion-content>
				<div class="list" >
					<div ng-repeat="contact in contacts">
						<ion-checkbox ng-repeat="phone in contact.phoneNumbers" ng-click="updatePhoneNumberSelection($event, phone.value)" ng-checked="question.audien_details.phone_numbers.indexOf(phone.value) != -1">{{contact.displayName}}  {{phone.value}}</ion-checkbox>
						<ion-checkbox ng-repeat="email in contact.emails" ng-click="updateEmailSelection($event, email.value)" ng-checked="question.audien_details.emails.indexOf(email.value) != -1">{{contact.displayName}}  {{email.value}}</ion-checkbox>
					</div>
				</div>
				<ion-infinite-scroll
				ng-if="!noMoreItemsAvailable"
				on-infinite="loadMore()"
				icon="ion-loading-c"
				distance="10%">
				</ion-infinite-scroll>
		</ion-content>
		</ion-tab>

		<ion-tab title="Invite" icon-on="ion-ios7-plus" icon-off="ion-ios7-plus-outline">
			<ion-content class="has-header has-footer">

				<div class="list" ng-repeat="new_invite in new_invites">
					<button ng-click="addInvite($index)" class="ion-ios7-plus-outline button button-clear icon">
					</button>
					<button ng-click="removeInvite($index)" class="button icon ion-minus-circled button-clear" ng-if="new_invites.length > 1">
					</button>
					<label class="item item-input item-select">
						<div class="input-label">
							<input ng-model="new_invite[new_invite.type]" type="text" placeholder="{{new_invite.type}}">
						</div>
						<select ng-change="new_invite=resetNewInvite($index)" ng-model="new_invite.type">
						<option value="email">email</option>
						<option value="phone_number">phone number</option>
					</select>
				</div>
				<button ng-click="newInvite()" class="button button-block button-positive">
					Invite
				</button>

			</ion-content>
		</ion-tab>

	</ion-tabs>

</ion-modal-view>
