<ion-modal-view>
	<ion-header-bar>
		<a class="button button-clear button-dark" ng-click="resetAudiens()"><i class="icon ion-chevron-left"></i> Back</a>
		<h1 class="title">Audiens</h1>
		<a class="button button-clear button-dark" ng-click="closeAudienModal()">Done</a>
	</ion-header-bar>
	<ion-tabs class="tabs-dark tabs-icon-only">

		<ion-tab title="My Reech" icon-on="ion-ios7-people" icon-off="ion-ios7-people-outline">
			<ion-content>
			<div class="list">
				<div class="item item-divider">
				Groups
				</div>
				<ion-checkbox ng-click="updateGroupSelection($event, group.id)" ng-checked="question.audien_details.groups.indexOf(group.id) != -1" ng-repeat="group in groups">{{group.name}}</ion-checkbox>
			</div>

			<div class="list">
				<div class="item item-divider">
				Experts
				</div>
				<ion-checkbox ng-click="updateReecherSelection($event, friend.reecher_id)" ng-checked="question.audien_details.reecher_ids.indexOf(friend.reecher_id) != -1" ng-repeat="friend in friends_list">{{friend.first_name}} {{friend.last_name}}</ion-checkbox>
			</div>
		</ion-content>

		</ion-tab>

		<ion-tab title="My Contacts" icon-on="ion-ios7-personadd" icon-off="ion-ios7-personadd-outline">
			<ion-content>
			<div class="list">
				<div class="item item-divider">
				My Contacts
				</div>
				<div ng-repeat="contact in (contacts | limitTo:1)">
					<ion-checkbox ng-repeat="phone_number in contact.phoneNumbers" ng-click="updatePhoneNumberSelection($event, phone_number.value)" ng-checked="question.audien_details.phone_numbers.indexOf(phone_number.value) != -1">{{contact.displayName}}  {{phone_number.value}}</ion-checkbox>
					<ion-checkbox ng-repeat="email in contact.emails" ng-click="updateEmailSelection($event, email.value)" ng-checked="question.audien_details.emails.indexOf(email.value) != -1">{{contact.displayName}}  {{email.value}}</ion-checkbox>
				</div>

			</div>
		</ion-content>
		</ion-tab>

		<ion-tab title="Invite" icon-on="ion-ios7-plus" icon-off="ion-ios7-plus-outline">		
			<ion-content class="has-header">
				<button ng-click="addInvite()" class="button button-block button-positive">
					Add Invite
				</button>
				<div class="list" ng-repeat="new_invite in new_invites">
					<label class="item item-input">
						<input ng-model="new_invite.email" type="email" placeholder="Email">
					</label>
					<label class="item item-input col-center">
					<div class="row">
						<div class="col col-offset-50">or</div>
						<button ng-click="removeInvite($index)" class="button button-small button-positive">
							Remove Invite
						</button>
				  </div>
					</label>
					<label class="item item-input">
						<input ng-model="new_invite.phone_number" type="text" placeholder="Phone number">
					</label>
				</div>
				<button ng-click="newInvite()" class="button button-block button-positive">
					Invite
				</button>
				
			</ion-content>
		</ion-tab>

	</ion-tabs>

</ion-modal-view>
