<ion-view title="Categories">
	<ion-content>
		<test ng-repeat="number in []|range:categories.length/2">
			<div class="row">
				<div class="col-50">
					<div ng-if="categories[2*number] != undefined" class="categories_box">
						<div class="categories_header_text">{{categories[2*number].title}}
							<div class="notification badge badge-assertive">1</div>
						</div>
						<div class="categories_footer_text">{{categories[2*number].question_count}}Q &nbsp&nbsp {{categories[2*number].solution_count}}S <div class="high5_icon">5<img src="../img/High-Five.png" class="high5_img"></img></div>
						</div>
					</div>
				</div>
				<div class="col-50">
					<div ng-if="categories[(2*number)+1] != undefined" class="categories_box">
						<div class="categories_header_text">{{categories[(2*number)+1].title}}
							<div class="badge badge-assertive notification">5</div>
						</div>
						<div class="categories_footer_text">{{categories[(2*number)+1].question_count}}Q &nbsp&nbsp {{categories[2*number+1].solution_count}}S <div class="high5_icon">5<img src="../img/High-Five.png" class="high5_img"></img></div>
						</div>
					</div>
				</div>
			</div>
		</test>
	</ion-content>
	<ion-footer-bar align-title="left" class="bar-dark">
		<div class="buttons">
			<button class="button button-light"><i class="icon ion-navicon"></i></button>
		</div>
	</ion-footer-bar>
	
</ion-view>