<ion-view title="Categories">

	<ion-content class="has-subheader has-footer">
		<div class="row no-padding-margin" ng-repeat="number in []|range: ceil(categories.length/2)" style="margin-top: 2px;">
			<div class="col col-50 no-padding-margin" style="margin-right: 2px;" ng-repeat="column in [0,1]" ng-click="loadQuestions(categories[2*number + column].id)" >
				<div ng-if="categories[2*number + column]" class="card no-padding-margin" style="min-height: 150px; background: url('img/categories/{{(categories[2*number + column].title.replace('&', '_').split(' ').join('')|lowercase)}}.jpg') no-repeat;background-size: 100% 100%;">
					<div class="item item-divider item-dark no-padding-margin ng-binding semi-transparent" style=" color: white;">
						{{categories[2*number + column].title}}
					</div>
					<div class="item item-divider item-dark no-padding-margin ng-binding semi-transparent" style=" color: white; margin-top: 100px;">
						{{categories[2*number + column].question_count}} Q
					</div>
				</div>
			</div>
		</div>
	</ion-content>
	<div class="bar bar-footer bar-stable">
		  <span class="col-10">
		  	<button class="button button-clear button-icon ion-ios7-gear-outline" select-categories ng-click="openCategoriesModel()" style=" position: absolute;
  bottom: 0;"></button>  	
		  </span>
	  	<span class="col">
	  			<img src="img/reechR.png" class="reechR_img"></img>
	  	</span>
	  	<span class="col">
	      <span class="curio_container">
	      	<div class="curio_text">{{currentUserProfile.curio_points}}</div>
	        <img src="img/curio.png" class="curio_img"></img>	        
				</span>
	    </span>
	</div>
</ion-view>
