<ion-view title="Connections">

<ion-tabs class="has-footer tabs-dark">

  <ion-tab title="My Reech">
  <ion-content>
    <div class="list has-subheader">
        <div class="item item-divider">
        Groups
        </div>
        <ion-scroll style="height:212px;">
        <ul class="list">
          <li ng-repeat="group in groups" class="item">
            {{group.name}}
            <span class="item-note padding-left">
              <div ng-click="showConfirm(group.id, group.name)"><i class="icon ion-close-round"></i></div>
            </span>
            <span class="item-note">
              <div></div>
            </span>
            <span class="item-note padding-left">
              <button reech-modal modal-template="'templates/group_members.html'" modal-before-open="beforeGroupModal(group.id)" class="button button-small button-light" ng-click="openModal()">
                {{group.members.length}} {{group.members.length > 1 ? 'members' : 'member'}}
              </button>
            </span>
          </li>
        </ul>
        </ion-scroll>
    </div>
    
    <div class="list has-subheader">
        <div class="item item-divider">
        Friends
        </div>
        <ion-scroll style="height: 212px;">
        <ul>
          <li ng-repeat="friend in friends_list" class="item">
            <a ng-click="openProfileModal(friend.id)">{{friend.first_name}} {{friend.last_name}}</a>

            <span class="item-note padding-left">
              <button modal-template="'templates/user_groups.html'" modal-before-open="beforeMemberModal(friend.id)" modal-on-close="executeOnClose()" class="button button-small button-light" reech-modal ng-click="openModal()">
                {{friend.groups.length}} {{friend.groups.length > 1 ? 'groups' : 'group'}}
              </button>
            </span>
          </li>
        </ul>
        </ion-scroll>
    </div></ion-content>
  </ion-tab>

  <ion-tab title="Contacts">
    <ion-content>
      <div class="list has-subheader" >
         <button ng-disabled="audien_details.emails.length == 0 && audien_details.phone_numbers.length == 0" ng-click="sendRequest()" class="button button-block button-positive">
          Send request
        </button>
        <div ng-repeat="contact in contacts">
          <ion-checkbox ng-repeat="phone in contact.phoneNumbers" ng-click="updateNumberAudienSelection($event, phone.value)" ng-checked="audien_details.phone_numbers.indexOf(phone.value) != -1">{{contact.displayName}}  {{phone.value}}<span ng-if="(friends_list | firstIndex:{'phone_number': phone.value}) > -1" class="item-icon-right"><i class="icon ion-checkmark-round"></i></span></ion-checkbox>
          <ion-checkbox ng-repeat="email in contact.emails" ng-click="updateEmailAudienSelection($event, email.value)" ng-checked="audien_details.emails.indexOf(email.value) != -1">{{contact.displayName}}  {{email.value}}<span ng-if="(friends_list | firstIndex:{'email': email.value}) > -1" class="item-icon-right"><i class="icon ion-checkmark-round"></i></span></ion-checkbox>

        </div>
      </div>
      <ion-infinite-scroll
      ng-if="!noMoreItemsAvailable"
      on-infinite="loadMore()"
      icon="ion-loading-c"
      distance="10%">
      </ion-infinite-scroll>

    </ion-content>

  </ion-tab>

  <ion-tab title="Find Friends">
    <ion-content class="has-subheader">
      <div class="list" ng-repeat="new_invite in new_invites">
          <button ng-click="addInvite($index)" class="ion-ios7-plus-outline button button-clear icon">
          </button>
          <button ng-click="removeInvite($index)" class="button icon ion-minus-circled button-clear" ng-if="new_invites.length > 1">
          </button>
          <div class="item item-input item-select">
            <div class="input-label">
              <input ng-model="new_invite[new_invite.type]" type="text" placeholder="{{new_invite.type}}">
            </div>
            <select ng-change="new_invite=resetNewInvite($index)" ng-model="new_invite.type">
              <option value="email">email</option>
              <option value="phone_number">phone number</option>
            </select>       
          </div>
            
        </div>
      <button ng-click="newInvite()" class="button button-block button-positive">
        Invite
      </button>
    </ion-content>
  </ion-tab>

</ion-tabs>

</ion-view>
