<ion-view title="Connections">
<main-header></main-header>

<ion-tabs class=" tabs-dark">

  <ion-tab title="My Reech">
    <div class="list">
        <div class="item item-divider">
        Groups
        </div>
        <ul class="list">
          <li ng-repeat="group in groups" class="item">
            {{group.name}}   
            <span class="item-note">
              <a href="#"><i class="icon ion-close-round"></i></a>
            </span>
            <span class="item-note">
              <div></div>
            </span>
            <span class="item-note padding-left">
              <button reech-modal modal-template="'/templates/group_members.html'" modal-before-open="beforeGroupModal(group.id)" class="button button-small button-light" ng-click="openModal()">
                {{group.members.length}} {{group.members.length > 1 ? 'members' : 'member'}}
              </button>
            </span>
            
          </li>
        </ul>
    </div>
    <div class="list">
        <div class="item item-divider">
        Friends
        </div>
        <ul class="list">
          <li ng-repeat="friend in friends_list" class="item">
            {{friend.first_name}} {{friend.last_name}}   
            
            <span class="item-note padding-left">
              <button modal-template="'/templates/user_groups.html'" modal-before-open="beforeMemberModal(friend.id)" modal-on-close="executeOnClose()" class="button button-small button-light" reech-modal ng-click="openModal()">
                {{friend.groups.length}} {{friend.groups.length > 1 ? 'groups' : 'group'}}
              </button>
            </span>
            
          </li>
        </ul>
    </div>
  </ion-tab>

  <ion-tab title="Contacts">
  
  </ion-tab>

  <ion-tab title="Find Friends">
  
  </ion-tab>

</ion-tabs>

</ion-view>

