<ion-view style="background: url('img/bg.jpg') no-repeat;background-size: 100% 100%;">
  <ion-content >
    <img  src="img/reechR.png" width=40% class="centered"></img>

    <button class="button button-block button-positive" ng-click="facebookLogin()">
        <i class="icon ion-social-facebook"></i>
        &nbsp;Login with Facebook
    </button>
    <div class="row">
      <a class="button button-block button-positive col col-50 no-padding-margin" href="#/sign_up">SIGN UP</a>
      <a class="button button-block button-positive col col-50 no-padding-margin" href="#/login">SIGN IN</a>
    </div>
  </ion-content>

</ion-view>
