<ion-view style="background: url('img/bg.jpg') no-repeat;background-size: 100% 100%;">
  <ion-content>
    <img  src="img/reechR.png" width=40% class="centered"></img>
    
  </ion-content>
  <ion-footer-bar  class="bar-subfooter" style="height: 85px;">
     <button class="button button-block button-positive" ng-click="facebookLogin()">
        <i class="icon ion-social-facebook"></i>
        &nbsp;Login with Facebook
    </button>
  </ion-footer-bar>
    <ion-footer-bar style="height: 75px;">
    <div class="row">
      <a class="button button-block button-positive col col-50 no-padding-margin" href="#/sign_up">SIGN UP</a>
      <a class="button button-block button-positive col col-50 no-padding-margin" href="#/login">SIGN IN</a>
    </div>
  </ion-footer-bar>

</ion-view>
