<div class="bar bar-header row no-padding-margin" ng-if="currentState != 'ask_a_question' && currentState != 'reech' && currentState != 'login' && currentState != 'sign_up' && currentState != 'landing'">
  <div class="bar bar-header bar-positive no-padding-margin ng-binding col col-80">
		<a on-swipe-right="openProfileModal(currentUser.id)" class="button" ng-click="openProfileModal(currentUser.id)"><img ng-src="{{currentUserProfile.image_url != null ? currentUserProfile.image_url : 'img/User-icon1.png'}}" class="logo" style="left: 0 !important; height: 32px; top: 0 !important;"></img></a>
		<h1 class="title" style="color: white;" ng-if="currentState == 'questions' || currentState == 'category_questions'" select-categories  ng-click="openCategoriesModel()">{{headerTitle}} <icon  class="button-icon ion-chevron-down stable" ></h1>
		<h1 class="title" style="color: white;" ng-if="currentState != 'questions' && currentState != 'category_questions'" >{{headerTitle}} </h1>
	</div>
	<div class="bar bar-subheader bar-energized top_navbar col col-80">
		<div class="row no-padding-margin">
			<a href="#/categories" class="col col-33"><icon class="ion-grid button_bar_icons stable" ng-class="{'positive': currentState == 'categories'}"></icon></a>
			<a href="#/connections" class="col col-33"><icon class="ion-ios7-people button_bar_icons stable" ng-class="{'positive': currentState == 'connections'}"></icon></a>
			<a href="#/notifications" class="col col-33"><icon class="ion-speakerphone button_bar_icons stable" ng-class="{'positive': currentState == 'notifications'}"></icon><span class="badge badge-assertive">{{currentUserProfile.notification_count}}</span></a>
		</div>
	</div>
  <div class="col col-20 col-offset-80 header-pic">
		<a href="#/ask_a_question" on-swipe-left="askAQuestion()">
			<center><img src = "img/pic.png" class = "photo" /></center>
		</a>
	</div>
</div>
