<div class="row bar bar-header">
	<div class="col col-80">
		<div class="bar bar-header bar-positive col col-80">
			<a class="button top_navbarCategories" href="#/profile"><img src = "img/User-icon1.png" class ="logo" /></a>
			<h1 class="title"><b>Areas of Interests</b></h1>
			<button class ="button icon ion-search divider-left"></button>
		</div>
		<div class="bar bar-subheader bar-energized top_navbar col col-80">
			<a class="button top_navbarCategories" href="#/categories"><icon class="ion-grid button_bar_icons " ng-class="{'positive': currentPage == 'categories'}"></icon></a>
			<a class="button top_navbarFriends" href="#/connections"><icon class="ion-ios7-people button_bar_icons" ng-class="{'positive': currentPage == 'friends'}"></icon></a>
			<a class="button top_navbarNotifs" href="#/user_settings" ><icon class="ion-speakerphone button_bar_icons" ng-class="{'positive': currentPage == 'user_settings'}"></icon></a>
		</div>
	</div>
	<a href="#/ask_a_question" class="col col-20 custom-div button">
		<img src = "img/pic.png" class = "photo" />
	</a>
</div>
