<ion-view title="Notifications">

	<ion-content class="has-subheader">

		<ion-list>
			<ion-item class="item-divider">
				Notifications
			</ion-item>
			<ion-item ng-if="notifications.length > 0" reech-modal modal-template="'templates/question_detail.html'" modal-before-open="setQuestion(notification.id, notification.record_id, notification.read)" modal-on-close="refresh()" ng-repeat="notification in notifications" ng-click="openModal()" class="item {{notification.read ? '' : 'notification_unread'}}">
				{{notification.message}}
				<span class="item-note">
      				{{notification.created_at | timeago}}
    			</span>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll
		        ng-if="!noMoreNotificationsAvailable"
		        on-infinite="loadMoreNotifications()"
		        icon="ion-loading-c"
		        distance="50%">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>
