<ion-view title="Notifications">
	<main-header></main-header>
	<ion-content class="has-subheader">
		<div class="list">
			<div class="item item-divider">
				Notifications
			</div>
			<div ng-if="notifications.length > 0" reech-modal modal-template="/templates/question_detail.html" modal-before-open="setQuestion(notification.id, notification.record_id, notification.read)" modal-on-close="refresh()" ng-repeat="notification in notifications" ng-click="openModal()" class="item {{notification.read ? '' : 'item-stable'}}">
				{{notification.message}}
			</div>
			<div ng-if="notifications.length == 0" class="item">
				<button class="button button-full button-clear button-positive">
  					No notifications
				</button>
			</div>
		</div>
		
	</ion-content>
</ion-view>