<ion-modal-view>
  <ion-content ng-controller="questionCtrl">
  <div class="main-box">
    <div class="box-image" back-img="selectedQuestion.question.avatar_file_name ? selectedQuestion.question.avatar_file_name : 'img/default-image.png'" back-src="selectedQuestion.avatar_file_name">
      <div class="winter inner-box">
        <div class="item item-icon-left item-icon-right winter">
          <i class="icon ion-android-close Qcloseicon" ng-click="$parent.closeModal()"></i>
          <i class="icon Qstaricon" ng-class="{'ion-ios7-star-outline': !selectedQuestion.current_user_starred_question, 'ion-ios7-star': selectedQuestion.current_user_starred_question}" ng-click="starQuestion(); "></i>          
        </div>

        <div class="row">
          <div class="col col-50 stable">
            <div class="item-avatar item-text-wrap" ng-click="selectedQuestion.question.clickable && openProfileModal(selectedQuestion.question.posted_by_user_id)">
              <img class="user-avatar full-image" ng-src="{{selectedQuestion.question.posted_by_avatar ? selectedQuestion.question.posted_by_avatar : 'img/no-image.png'}}"><span class="item-text-wrap">{{selectedQuestion.question.posted_by}}</span><br />
               <ng-pluralize class="item-text-wrap" count="selectedQuestion.question.linkers.length" when="{'0': '',
       '1': '{{selectedQuestion.question.linkers[0]}} linked you to question.',
       'other': '{{selectedQuestion.question.linkers[0]}}+ {{selectedQuestion.question.linkers.length-1}} members linked you to question'}"></ng-pluralize> 
            </div>
          </div>
          <div class="button-bar col-20">
            <a class="button button-clear ion-ios7-videocam "></a>
            <a class="button button-clear ion-ios7-mic"></a>
            <a class="button button-clear ion-link"></a>
          </div>
        </div>

        <div class="row">
          <div class="col col-90 item-text-wrap stable questiondetail_text">
            {{selectedQuestion.question.post}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <a class="button col button-positive button-clear button-positive ion-edit"  ng-click="openAnswerModal()">Provide Solution</a>
      <span class="divider-left dark"></span>
      <a class="button col button-balanced ion-link button-clear" audien-details ng-click="openAudienModal()">Link Expert</a>
    </div>
  </div>
  <ion-scroll direction="x">
  <div class="row">
    <div class="list card col col-50 row250" ng-repeat="solution in selectedQuestion.solutions" >
      <div class="row stable">
        <a class="item-avatar item-text-wrap">
          <img class="full-image" ng-src="{{solution.solver_image ? solution.solver_image : 'img/no-image.png'}}" ng-click="solution.profile_pic_clickable && openProfileModal(solution.solution_provider_id)"><span class="dark item-text-wrap">{{solution.solution_provider_name}}</span>
        </a>
      </div>
      <div class="row item-text-wrap" style="height: 200px;" ng-click="openSolutionModal(solution)">
        <ion-scroll direction="y">
          {{solution.body}}
        </ion-scroll>
      </div>
      <div class="row stable-bg categories_footer_text" ng-if="solution.purchased || solution.current_user_is_solver">
        <i class="ion-chatbubbles assertive "></i>
        <i class="ion-android-hand royal notification">{{solution.hi5_count}} </i>
      </div>
      <div class="row stable-bg categories_footer_text" ng-if="!solution.purchased && !solution.current_user_is_solver">
        <span class="curio_container">
          <img src="img/curio.png" class="curio_img"></img>
          <div class="curio_text">25</div>
        </span>
      </div>
    </div>
  </div>
  </ion-scroll>
  </ion-content>
</ion-modal-view>
