<ion-view title="Questions" ng-controller="questionsCtrl">
<main-header></main-header>
  <ion-content class="has-subheader" on-swipe-up="loadMore()">
    <ion-list >
      <ion-item ng-repeat="question in questions">
      <div class="button-bar button-clear">
        <a class="item item-clear item-icon-left">
          <img ng-src="{{question.avatar_file_name ? question.avatar_file_name : 'img/no-image.png'}}" class="icon"></img>
          {{question.posted_by}}
        </a>
        <a class="col "><h4>{{question.updated_at | timeago}}</h4></a>
        <a class="col"><h4>5miles</h4></a>
      </div>
      <div class="row" ng-click="openModal(question)">
        <div class="col col-50 item-text-wrap dark">{{question.post}}</div>
        <div class="col col-offset-10">
          <a class="item-thumbnail">
            <img class="full-image" ng-src="{{question.avatar_file_name ? question.avatar_file_name : 'img/default-image.png'}}">
          </a>
        </div>
      </div>
      </ion-item> 
</ion-list>
  </ion-content>
</ion-view>
<div class="bar bar-footer bar-stable">
  <button class="button button-clear col-10"><a class="navbar_bottom">All</a></button>
  <button class="button button-clear col-15 navbar_bottom"><a class="navbar_bottom">Mine</a></button>
  <button class="button button-clear col-20 navbar_bottom"><a class="navbar_bottom">Linked</a></h4></button>
  <button class="button button-clear col-15 navbar_bottom"><a class="navbar_bottom">Starred</a></button>
  <button class="ion-loop button button-clear col" ng-click="fetchAllQuestions()"></button>
  <span class="col">
    <a class="item-icon-right curios">
      <span class="curio_container">
        <img src="img/curio.png" class="curio_img"></img>
      <div class="curio_text">500</div></span>
    </a>
  </span>
</div>
