<ion-view title="Questions">
	<ion-content>
		<div class="row">
			<div class="col col-80">
				<div class="bar bar-header bar-positive col col-80">
					<img src = "img/reechR.png" class ="logo" />
					<h1 class="title"><b>Areas of Interests</b></h1>	
					<button class ="button icon ion-search divider-left"></button>
				</div>
				<div class="bar bar-subheader bar-energized top_navbar col col-80">
				    <a class="button top_navbarCategories" href="#/categories"><icon class="ion-grid button_bar_icons"></icon></a>
				    <a class="button top_navbarFriends" href="#/friends"><icon class="ion-ios7-people button_bar_icons"></icon></a>
				    <a class="button top_navbarNotifs" href="#/user_settings"><icon class="ion-speakerphone button_bar_icons"></icon></a>
				</div>
				
				
			</div>
			<a href="#/ask_a_question" class="col col-20 custom-div button">
				<div class ="title"><img src = "img/pic.png" class = "photo" />
				</div>
		  </a>
		</div>
	</ion-content>
</ion-view>



