<ion-modal-view  ng-controller="solutionCtrl">  
  <ion-content> 
  <div class="main-box"> 
  	<div class="box-image" back-img="'img/default-image.png'" back-src="selectedQuestion.avatar_file_name">
  		<div class="winter inner-box has_header">
    		<div class="item item-icon-left item-icon-right item-positive">
    			<i class="icon ion-close" ng-click="closeSolutionModal()"></i>
    			<div class="title text-center">Solution</div>
    			<i class="icon ion-android-hand" ng-if="!currentSolution.purchased"></i>
          <i class="icon ion-android-hand dark" ng-if="currentSolution.purchased"></i>
  			</div>    
        <div ng-if="showSolution">
    		  <div class="row" >
      		  <div class="col col-50 stable">
        		  <a class="item-avatar item-text-wrap">
          		  <img class="user-avatar full-image" ng-src="{{currentSolution.solver_image ? currentSolution.solver_image : 'img/no-image.png'}}"  ng-click="currentSolution.profile_pic_clickable && goTo('user/{{currentSolution.solution_provider_id}}/profile')"><span class="item-text-wrap">
          		{{currentSolution.solution_provider_name}}</span>
        		  </a>          		       
      		  </div>
      		  <div class="button-bar col-20">
  					  <a class="button button-clear ion-ios7-videocam "></a>
  					  <a class="button button-clear ion-ios7-mic"></a>
  					  <a class="button button-clear ion-link"></a>
					  </div>      	
    		  </div>    
  
    		  <div class="row">
    			  <div class="col col-90 item-text-wrap stable">
    				  {{currentSolution.body}}
    			  </div>
    		  </div>    		   
  		  </div>
      </div>
      <div class="row h3" ng-if="!showSolution"> Grab Solution! </div>
  	</div>
    <button reech-modal modal-template="/templates/chat.html" ng-if="currentSolution.purchased || currentSolution.current_user_is_solver" class="button button-block button-positive" ng-click="openModal()"><i class="icon ion-chatbubbles"></i>
      Chat
    </button>
  	<div class="winter inner-box" ng-click="grabSolution()" ng-if="!currentSolution.purchased && !currentSolution.current_user_is_solver"> 
  		<div class="row">
  			<div class="col col-offset-10" ng-if="!currentSolution.previewed">
  				<h1  class="ion-ios7-timer-outline"></h1><span class="stable h3">{{previewTime}} seconds</span>
  			</div>
  			<div class="col">
  				<h1  class="royal ion-android-hand"></h1><span class="stable h3">Grab Solution</span>
  			</div>
  		</div>
  		<div class="text-center">
  			<h3><img src="img/curio.png"/><span class="stable"> 25</span>	</h3>
  		</div>
  	</div>    
  </div>
  </ion-content>
</ion-modal-view>