<ion-view title="userSettings">
<ion-content>
<div class="bar bar-header bar-positive">
  <button class="button-icon ion-arrow-left-c button back-button" ng-click="goBack()">
      </button>
  <div class="h1 title energized">Settings</div>
</div>

<div class="content has-header">

  <ul class="list">
    <li class="item item-toggle">
     Enable/Disable location services
     <label class="toggle toggle-balanced">
      <input type="checkbox" checked>
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
   </li>
   <li class="item item-toggle">
     Push Notifications
     <label class="toggle toggle-balanced">
       <input type="checkbox" checked>
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
   </li>
   <li class="item item-toggle">
     Email Notifications
     <label class="toggle toggle-balanced">
       <input type="checkbox" checked>
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
   </li>
   <div class="item item-divider positive">
      Let me know when:
   </div>   
   <li class="item item-toggle">
     my question has new answers
     <label class="toggle toggle-balanced">
       <input type="checkbox" checked>
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
   </li>
   <li class="item item-toggle">
     I'm linked to a new question
     <label class="toggle toggle-balanced">
       <input type="checkbox" checked>
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
   </li>
   <li class="item item-toggle">
     friends Hi5 my solutions
     <label class="toggle toggle-balanced">
       <input type="checkbox" checked>
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
   </li>
   <li class="item item-toggle">
     a friend asks my help
     <label class="toggle toggle-balanced">
       <input type="checkbox" checked>
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
   </li>
   <li class="item item-toggle">
     starred questions have answers
     <label class="toggle toggle-balanced">
       <input type="checkbox" checked>
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
   </li>
   <li class="item item-toggle">
     friend grab my solutions
     <label class="toggle toggle-balanced">
       <input type="checkbox" checked>
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
   </li>
 </ul>

</div>
</ion-content>
</ion-view>