<ion-view title="userSettings" ng-controller="userSettingsCtrl">
<ion-content>
<div class="bar bar-header bar-positive">
  <button class="button-icon ion-arrow-left-c button back-button" ng-if="showBackButton" ng-click="back()">
  </button>
  <div class="h1 title energized">{{currentUser.first_name}} {{currentUser.last_name}}</div>
</div>

<div class="content has-header">

  <ul class="list">
    <li class="item item-toggle">
     <span class="item-text-wrap">Enable/Disable location services</span>
     <label class="toggle toggle-balanced">
      <input type="checkbox"   ng-change="changeSetting()" ng-model="model.location_is_enabled" >
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
   </li>
   <li class="item item-toggle">
     <h3>Push Notifications</span>
     <label class="toggle toggle-balanced">
       <input type="checkbox"   ng-change="changeSetting()" ng-model="model.pushnotif_is_enabled" >
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
   </li>
   <li class="item item-toggle">
     <span class="item-text-wrap">Email Notifications</span>
     <label class="toggle toggle-balanced">
       <input type="checkbox"   ng-change="changeSetting()" ng-model="model.emailnotif_is_enabled" >
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
   </li>
   <div class="item item-divider positive">
      Let me know when
   </div>   
   <li class="item item-toggle">
     <span class="item-text-wrap">my question has new answers</span>
     <label class="toggle toggle-balanced">
       <input type="checkbox"   ng-change="changeSetting()" ng-model="model.notify_question_when_answered" >
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
   </li>
   <li class="item item-toggle">
     <span class="item-text-wrap">I'm linked to a new question</span>
     <label class="toggle toggle-balanced">
       <input type="checkbox"   ng-change="changeSetting()"   ng-change="changeSetting()" ng-model="model.notify_linked_to_question" >
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
   </li>
   <li class="item item-toggle">
     <span class="item-text-wrap">friends Hi5 my solutions</span>
     <label class="toggle toggle-balanced">
       <input type="checkbox"   ng-change="changeSetting()" ng-model="model.notify_solution_got_highfive" >
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
   </li>
   <li class="item item-toggle">
     <span class="item-text-wrap">a friend asks my help</span>
     <label class="toggle toggle-balanced">
       <input type="checkbox"   ng-change="changeSetting()" ng-model="model.notify_audience_if_ask_for_help" >
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
   </li>
   <li class="item item-toggle">
     <span class="item-text-wrap">starred questions have answers</span>
     <label class="toggle toggle-balanced">
       <input type="checkbox"   ng-change="changeSetting()" ng-model="model.notify_when_my_stared_question_get_answer" >
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
   </li>
   <li class="item item-toggle">
     <span class="item-text-wrap">friend grab my solutions</span>
     <label class="toggle toggle-balanced">
       <input type="checkbox"   ng-change="changeSetting()" ng-model="model.notify_when_someone_grab_my_answer" >
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
   </li>
 </ul>

</div>
</ion-content>
</ion-view>