/* Empty. Add your own CSS if you like */
.custom-div { 
  
  background-color: rgb(215, 88, 52);
  height: 88px;
  border: 0px;  
  border-radius: 0px; 
  margin-top: -5px;
  padding-top: 8px;
  flex: 0 0 23%;
  max-width: 22%;
  background: #f3c5bd; /* Old browsers */
  background: -moz-linear-gradient(45deg, #f3c5bd 0%, #ea2803 47%, #ff6600 50%, #ea2803 60%, #ea2803 60%, #e86c57 68%, #e86c57 68%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#f3c5bd), color-stop(47%,#ea2803), color-stop(50%,#ff6600), color-stop(60%,#ea2803), color-stop(60%,#ea2803), color-stop(68%,#e86c57), color-stop(68%,#e86c57)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #f3c5bd 0%,#ea2803 47%,#ff6600 50%,#ea2803 60%,#ea2803 60%,#e86c57 68%,#e86c57 68%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, #f3c5bd 0%,#ea2803 47%,#ff6600 50%,#ea2803 60%,#ea2803 60%,#e86c57 68%,#e86c57 68%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, #f3c5bd 0%,#ea2803 47%,#ff6600 50%,#ea2803 60%,#ea2803 60%,#e86c57 68%,#e86c57 68%); /* IE10+ */
  background: linear-gradient(45deg, #f3c5bd 0%,#ea2803 47%,#ff6600 50%,#ea2803 60%,#ea2803 60%,#e86c57 68%,#e86c57 68%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#e86c57',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  copy
}
img.logo {
    width: 26px;
    padding-top: 5px;
}
img.photo {

    height: 75px;
    width: 55px;
}
 
.bar-header {
top: 0;
border-top-width: 0;
border-bottom-width: 0px;
}
.bar.bar-positive {
border-color: #325692;
background-color: #325692;
background-image: linear-gradient(0deg, #145fd7, #145fd7 50%, transparent 50%);
color: #fff;
}
.bar-positive .button {
border-color: #325692;
background-color: #325692;
color: #fff;
}
.bar.bar-energized {
border-color: #BBBBBB;
background-color: #BBBBBB;
background-image: linear-gradient(0deg, #d39211, #C2B7A2 50%, transparent 50%);
color: #fff;
}
.bar-energized .button {
border-color: #BBBBBB;
background-color: #BBBBBB;
color: #fff;
}
.divider-left{
	border-left: 1px white solid !important;

}
.custom-icon {
  font-size: 32px;
}
.landing { 
   background: url('../img/onboarding1.png') no-repeat center;   
}
a.user-avatar{
	padding-left: 32px;
}
.item-avatar > img.user-avatar{
	top: 37px !important;
}
.question{
	min-height: 200px;
}
.question-image{
	min-height: 333px;
}
.winter{
	/* Fallback for web browsers that doesn't support RGBa */			
	background: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 0.6);
}
.main-box{
	padding: 3px;
	border: 1px gray solid;
}
.row250 {
  height: 250px;
  overflow: scroll;
}
.item-clear{
  border-color: white !important;
}
